.cards {
 
    position: absolute;
    bottom: 4px;
    width: 150px;
    height: 65px;
    background: #FFFFFF;
border-radius: 0px 6px 0px 0px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 25px;
color: #042521;

mix-blend-mode: normal;
   }