.fourcontent {
  padding-top: 180px;
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  justify-content: space-between;
}
.guid {
  .crug {
    padding: 50px;
  }
  .textone {
    padding: 25px 0px 40px;
    width: 460px;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    line-height: 30px;
    color: #7d7987;
    mix-blend-mode: normal;
  }
  .download {
    display: flex;
    justify-content: space-between;
   
  }
}
.guids {
    display: flex;
    .crestfive {
       position: absolute;
       right: 60px;
    }
}
